body{
    margin:0;
    
    background-color: rgb(0, 0, 0);
    
}
.page{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.game{
    background-color: rgb(248, 238, 223);
    min-height: 45rem;
    padding: 0 2rem;
    color:rgb(142, 22, 22);
    border: 0.2rem solid  rgb(132, 105, 65) 

}
.sketch{
    min-height:30rem;
    min-width: 30rem;
    background-color: rgb(232, 201, 153);
}

.settings{
    display: flex;
    justify-content: space-around;
    margin-top:2rem;
   
}

.basicSettings button{
    min-width: 9rem;
    min-height: 3rem;
    background-color: rgb(142, 22, 22);
    color:rgb(248, 238, 223);
    
}
.gridSize:hover,.reset:hover{
    background-color: rgb(79, 6, 6);
}
button{
    font-size: 1.3rem;
    border:none;
}

.brushColor{
    background-color: rgb(142, 22, 22);
    transition: background-color 0.5s ease;
    color:rgb(248, 238, 223);;
    
}
.brushColor:hover{
     background-color: #FFEB3B; 
     animation: rainbow 2s infinite;
     
}
@keyframes rainbow {
  0% { background-color: rgb(142, 22, 22); } /* Red */
  20% { background-color: #b7720c; } /* Orange */
  40% { background-color: #b8a712; } /* Yellow */
  60% { background-color: #007d04; } /* Green */
  80% { background-color: #00447c; } /* Blue */
  100% { background-color: #590069; } /* Purple */
}
.sketch{
    display:flex;
    flex-direction: column;
}
.rowDiv{
    display:flex;
    flex:1;
}
.box{
    background-color: rgb(232, 201, 153);
    flex:1;
    border:0.06rem rgb(248, 238, 223) solid;
}